.header .title {
    font-family:"Courier New";
    font-weight:lighter;
    text-decoration: underline;
    font-size: 24px;
    float: none;
    max-width: 650px;
    }

.header .subtitle {
text-decoration: underline;
    color: #FF4500;
    font-family:"Courier New";
    font-weight:lighter;
    float: none;  
    }

.header .headshot {
    width: 250px;
    height: 250px;
    float: right;
    margin-bottom: 25px; 
    }

@media (max-width: 650px) {
    .header .headshot {
    float: none;
    margin: 0 auto;
    display: block;
    }

.header .title,
    .header .subtitle {
    text-align: center;
    }
    }

.icon_portfolio {
    width:40px;
    height:40px;
    margin-right: 40px;
    max-width: 650px;
    }

body {
    background-color: #FFF1E0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:20px; 
    }

div {
    margin-bottom:35px;
    }

.paragraph {
    text-align: left; 
    margin: 10px; 
    max-width: 650px; 
    word-wrap: break-word; 
    font-family: "Courier New";
    font-weight: 100;
    clear: both;
    margin-bottom:20px;            
    }

.clip {
    font-family: "Times New Roman";
    font-size: 110%;
    max-width: 650px;
    font-style: italic;
    overflow: hidden;
    }

.icon_media {
    width:60px;
    height:60px;
}

#icon_1 {
    float: left;
    vertical-align: middle;   
    height:auto;
    display: inline-block;
    margin-right:15px;
}

#icon_2 {
    align-items:center;
    margin-right:110px;
    padding:1px;
}
strong {
    font-weight: bold;
    }

